.main-menu-container {
  @extend .pewview-container;
}

.main-menu-buttons-container {
  width:40%;
  margin: 0 auto;
  margin-top: 15px;
}

.main-menu-logo {
  max-width: 300px;
  padding-top: $base-margin * 3;
  padding-bottom: $base-margin * 3;
}
