@import 'variables';
@import 'mainmenu';
@import 'songmanager';
@import 'backbutton';

html,body {
 font-family: $font-family-open-sans;
 width: 100%;
 min-height: 100vh;
 max-height: 100%;
 margin: 0 0;

 background: $color-teal; /* Old browsers */
 background: -moz-linear-gradient(top, $color-teal 0%, $color-blue 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top, $color-teal 0%,$color-blue 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom, $color-teal 0%,$color-blue 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color-teal, endColorstr=$color-blue,GradientType=0 ); /* IE6-9 */
}

.pewview-container {
  // background: url('../img/main-menu-pews.jpeg') no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // background-size: cover;

  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  margin: 0 0;
}

h1 {
  text-align: center;
  padding-top: $base-padding * 5;
  padding-bottom: $base-padding * 5;
  color:white;
  font-family: $font-family-open-sans;
}

.pewview-button {
  color: white;
  border-color:white;
  font-family: $font-family-open-sans;
}

.pewview-button:hover {
  background-color: $color-teal-medium;
  border-color: $color-teal-medium;
}
