.new-song-text-area {
  background-color: rgba(247, 247, 249, 0.1);
  border-color: rgba(247, 247, 249, 0.9);
  font-size: 16px;
  text-align: center;
  color: white;
  width:100%;
}

.new-song-text-area:focus {
  outline:0;
}
