.table-song-table {
  background-color: rgba(247, 247, 249, 0.44);
}

.table-song-table thead th {
  border-color: $color-teal-medium;
  text-transform: uppercase;
}

.table-song-table th {
  border-color: $color-teal-medium;
}

.table-song-table thead td {
  border-color: $color-teal-medium;
}
